<launch>
	<!-- Arguments -->
	<arg name="cmd_vel_topic" default="/mobile_abot/cmd_vel" />
	<arg name="base_global_planner" default="navfn/NavfnROS"/>
	<arg name="base_local_planner" default="dwa_local_planner/DWAPlannerROS"/>

	<!-- move_base -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<param name="base_global_planner" value="$(arg base_global_planner)"/>
		<param name="base_local_planner" value="$(arg base_local_planner)"/>  

		<rosparam file="$(find abot_navigation)/config/planner.yaml" command="load"/>
		<rosparam file="$(find abot_navigation)/config/costmap_common.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find abot_navigation)/config/costmap_common.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find abot_navigation)/config/costmap_local.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find abot_navigation)/config/costmap_global.yaml" command="load" ns="global_costmap" />
		
		<remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
	</node>
</launch>