<launch>
	<arg name="rvizconfig" default="$(find abot_description)/rviz/abot_navigation.rviz" />
	<arg name="model" default="$(find abot_description)/urdf/abot.xacro" />
	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="false"/>

	<include file="$(find abot_navigation)/launch/abot_navigation.launch" />
</launch>
