<?xml version="1.0" encoding="utf-8"?>
<robot name="abot"
	xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:property name="clearance" value="0.018" />
	<xacro:property name="wheel_radius" value="0.03195"/>
	<xacro:property name="wheel_separation" value="0.128"/>
	<xacro:property name="wheel_width" value="0.026"/>
	<xacro:property name="PI" value="3.1415926"/>
	<!-- Matherials -->
	<xacro:include filename="$(find abot_description)/urdf/abot_matherials.xacro" />
	<!-- abot_base -->
	<link name="abot_base">
		<inertial>
			<origin xyz="-0.020033 -0.0011051 0.056486" rpy="0 0 0"/>
			<mass value="0.54627"/>
			<inertia ixx="0.00061681" ixy="-1.7116E-06" ixz="-1.1044E-05" iyy="0.00061911" iyz="-8.1361E-09" izz="0.0011295"/>
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="package://abot_description/meshes/abot_base.STL" />
			</geometry>
			<material name="White" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="package://abot_description/meshes/abot_base.STL" />
			</geometry>
		</collision>
	</link>
	<!-- base_link -->
	<link name="base_link">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<sphere radius="0.001" />
			</geometry>
		</visual>
	</link>
	<joint name="base_link_to_abot_base" type="fixed">
		<origin xyz="0 0 0" rpy="0 0 0" />
		<parent link="base_link" />
		<child link="abot_base" />
	</joint>
	<!-- base_footprint -->
	<link name="base_footprint">
	<visual>
		<origin xyz="0 0 0" rpy="0 0 0" />
		<geometry>
			<cylinder length="0.001" radius="0.100" />
		</geometry>
		<material name="Blue" />
	</visual>
	</link>
	<joint name="base_footprint_to_base_link" type="fixed">
		<origin xyz="0 0 ${clearance}" rpy="0 0 0" />
		<parent link="base_footprint" />
		<child link="base_link" />
	</joint>
    <!-- Wheels -->
	<xacro:include filename="$(find abot_description)/urdf/abot_left_wheel.xacro" />
	<xacro:include filename="$(find abot_description)/urdf/abot_right_wheel.xacro" />
	<xacro:include filename="$(find abot_description)/urdf/abot_caster_wheel.xacro" />
	<xacro:include filename="$(find abot_description)/urdf/abot_sensors.xacro" />
</robot>