<launch>
	<node name="encoders" pkg="abot_driver" type="encoders" output="screen" />
	<node name="dc_motors" pkg="abot_driver" type="dc_motors" output="screen" />
	<include file="$(find abot_driver)/launch/abot_pid.launch" />
	<include file="$(find abot_driver)/launch/abot_lidar.launch" />
</launch>